{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>No</th>
                  <th>Package Name</th>
                  <th>Package No.</th>
                  <th>Status</th>
                  <th>Timestamp</th>
                </tr>
              </thead>
              <tbody>
                {% for activity in history %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ forloop.counter }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ activity.package.packageName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ activity.package.package_number }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ activity.get_status_display }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ activity.timestamp }}</span></div>
                  </td>
                </tr>

                {% empty %}
                    <td class="text-start">
                      <div class="small text-medium-emphasis"><span>No activities found for this courier.</span></div>
                    </td>
                {% endfor %}

              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->
  </div>
  
{% endblock %}