{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

{% if success_message %}
<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
  {{ success_message }}
  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

{% if messages %}
{% for message in messages %}

  {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% elif message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
  {% elif message.tags == 'warning' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% else %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
  {% endif %}
        
  {{ message }}
    <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}

<div class="row">
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>No</th>
                  <th>Package</th>
                  <th>Recipient</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Package No</th>
                  <th>status</th>
                  {% for package in assigned_packages %}
                  {% if package.status == 'in_transit' %}
                  <th></th>
                  {% endif %}
                  {% if package.status == 'en_route' %}
                  <th></th>
                  {% endif %}
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for package in assigned_packages %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ forloop.counter }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.packageName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.sendersAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.package_number }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{% if package.status == 'en_route' %}
                      <img src="{% static 'img/transit.png' %}" alt="" width="25px" height="25px">
                        <form action="{% url 'notify_arrival' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <td>
                              <button type="submit" class="btn btn-sm btn-info text-white">Notify Arrival</button>
                            </td>
                        </form>
                        {% elif package.status == 'warehouse_arrival' %}
                            <img src="{% static 'img/loading.png' %}" alt="" width="25px" height="25px">
                        {% elif package.status == 'in_transit' %}
                            <img src="{% static 'img/transit.png' %}" alt="" width="25px" height="25px">
                        {% elif package.status == 'at_pickup' %}
                            <img src="{% static 'img/loading.png' %}" alt="" width="25px" height="25px">
                        {% elif package.status == 'ongoing' %}
                            <form action="{% url 'notify_recipient' package_id=package.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-info text-white">Notify Arrival</button>
                            </form>
                        {% elif package.status == 'arrived' %}
                          <img src="{% static 'img/loading.png' %}" alt="" width="25px" height="25px">     
                          <td>
                            <button type="button" class="btn btn-sm btn-warning text-white" data-coreui-toggle="modal" data-coreui-target="#staticBackdrop{{ package.id }}">
                              Confirm Drop-Off
                            </button>
                          </td>  
                      
  
                        <form action="{% url 'confirm_delivery' package_id=package.id %}" method="post">
                          {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop{{ package.id }}" data-coreui-backdrop="static" data-coreui-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title fw-semibold" id="staticBackdropLabel">Confirm Package Pickup</h5>
                                <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <label for="inputField{{ package.id }}" class="mb-3"><b>ENTER CODE:</b></label>
                                <input type="text" id="inputField{{ package.id }}" name="inputField" class="form-control form-control-sm">
                            </div>
                            <div class="d-flex justify-content-center mb-3">
                              <!-- <button type="button" class="btn btn-danger btn-sm text-white" data-coreui-dismiss="modal">Close</button> -->
                              <button type="submit" class="btn btn-primary btn-md text-white">Confirm</button>
                            </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    
                    {% endif %}</span></div>
                  </td>
                   
                  {% if package.status == 'in_transit' %}
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>
                        <form action="{% url 'notify_dropoff_delivery' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-primary text-white">Notify Drop-off</button>
                        </form>                            
                    </span>
                    </div>
                  </td>
                  {% endif %}
                  
                 
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->
  </div>

  <form>
    <input type="hidden" id="courier_latitude" name="courier_latitude" value="" >
    <input type="hidden" id="courier_longitude" name="courier_longitude" value="">                  
  </form>

  {% block script_links %}
  <script data-courier_id="{{ courier_id }}">
    const data = document.currentScript.dataset;
    // Define a global variable to store the interval ID
    let locationInterval;

    // Function to start fetching courier's location at a 10-second interval
    function startLocationTracking() {
      // Clear any existing interval to avoid multiple simultaneous requests
      clearInterval(locationInterval);

      // Start fetching location every 5 seconds
      locationInterval = setInterval(getGPS, 10000); // 10000 milliseconds = 10 seconds
    }

    // Function to stop the location tracking interval
    function stopLocationTracking() {
      clearInterval(locationInterval);
    }

    function getGPS() {

      // pick the location
      if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
          //console.log(position.coords);
          //set the GPS into fields

          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;
          // const courier_id = {{ courier_id }};
          const courier_id = data.courier_id

          document.getElementById("courier_latitude").value = latitude;
          document.getElementById("courier_longitude").value = longitude;
  
          console.log("Courier Latitude:", latitude);
          console.log("Courier Longitude:", longitude);

          // get new couriers gps data
          save_gps_data(latitude, longitude, courier_id);
  
        }, function (error) {
          console.log("Failed to get location");
          alert("Failed to get your GPS location. Please enable GPS.");
          console.log(error);
        }, { maximumAge: 0, enableHighAccuracy: true });
      } else {
        console.log("Device does not support geolocation!");
        alert("Device does not support geolocation!");
      }
      
    }
  
    // Start tracking the courier's location when needed, e.g., on page load
    startLocationTracking();

    // To stop tracking, you can call stopLocationTracking() when needed
    // For example, when the courier logs out or navigates away from the tracking page
    // stopLocationTracking();

    
    function save_gps_data(latitude, longitude, courier_id) {
   
      $.ajax({
          type: "POST",
          url: "/get_courier_location/",
          dataType: "json",
          data: {
              rand_time: new Date().getTime(),
              latitude: latitude, longitude: longitude, courier_id: courier_id
          },
          success: function (response) {
          console.log(response);

          }
        }
      )
    }

  </script>
  {% endblock %}


{% endblock %}