{% extends 'dashboard_base.html' %}

{% load static %}



{% block static_links %}

<style>
    /* Set the map size */
    #map {
        height: 800px;
        width: 100%;
    }
</style>
{% endblock %}



{% block content %}
<div class="row">
    <div class="form-group col-md-4">
        <label for="courier-dropdown" class="form-label form-label-sm">Select Courier<span class="text-danger">*</span></label>
        
        <select class="form-select form-select-sm" id="courier-dropdown" name="courier-dropdown">
            <option value="" selected disabled> -- Select Courier -- </option>
            {% for courier in couriers %}
            <option value="{{courier.id}}">{{courier.username}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-sm btn-info text-white mt-3" onclick="getSelectedCourier()">Start Tracking</button>
             
    </div>
</div>


<div id="map"></div>
{% endblock %}

{% block script_links %}
    
<script>


    function getSelectedCourier() {
        const selectElement = document.getElementById('courier-dropdown');
    
        // Call the get_map_data function with the selected courier ID
        get_map_data(selectElement.value);
    }

    let map = null;
    let markersArray = [];

    function clearOverlays() {
        for (var i = 0; i < markersArray.length; i++ ) {
            markersArray[i].setMap(null);
            }
            markersArray = [];
        } 

    function plotMapLatLongPoints(all_markers, center_point) {

        if(map == null)
        {
            map = new google.maps.Map(document.getElementById("map"), {

            center: { lat: center_point.lat, lng: center_point.lng },

            zoom: 15

            });
        }

        //clear all markers
        clearOverlays();
        


        //keep all markers

        markersArray = all_markers.map((a_marker, i) => {

            var contentString = a_marker.info_body;



            var infowindow = new google.maps.InfoWindow({

                content: contentString

            });




            var marker = new google.maps.Marker({

                position: { lat: a_marker.lat, lng: a_marker.lng },

                map: map,

                title: a_marker.title,

            });

            marker.addListener('click', function () {

                infowindow.open(map, marker);

            });

            return marker

        });

    }


    function get_map_data(selectedCourierId) {
      
        $.ajax({

            type: "GET",
            cache: false,
            url: "/api/get_gps_coordinates/",
            dataType: "json",
            data: {
                selected_courier_user: selectedCourierId,
                rand_time: new Date().getTime(),
                // filter_abc: "filter val"  //example for more data passed as parameters
            },
            success: function (response) {

                console.log(response);

                //read data out

                if (response.error == false) {
                    //  var marker_data  = [
                    //     {lat:1.218517, lng:32.373456, title:"sample title", info_body: "<b>html info body</b>"}
                    //  ];
                    //  var smple_centert = {lat:1.218517, lng:32.373456};

                    var all_markers = response.data.all_markers;

                    var center_point = response.data.center_point;

                    plotMapLatLongPoints(all_markers, center_point);
                }

                else {

                    $("#map_report_content").html("<div class='alert alert-danger'><h5><i class='icon fa fa-ban'></i> No GPS data Found!</h5>No GPS data found for selected filter</div>");

                    alert('failed to pick get_map_activity_route error:' + response.error_msg);
                }

            },

            error: function (data) {

                console.log('failed to pick get_map_activity_route', data);

            }

        });


    }

//draw map now

document.addEventListener("DOMContentLoaded", function() {
    setInterval( function(){getSelectedCourier()}, 5000);
})


</script>
{% endblock %}



