<!DOCTYPE html>
{% load static %}
<!-- Breadcrumb-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Logistics Management System">
    <meta name="author" content="Muhumuza Ivan, Nkuraija Gary, Wogunya Israel">
    <meta name="keywords" content="Logistics,Warehouse,Drop off,Inventory,Shipment,Tracking,Delivery,Transportation,Dispatch,Hub,Route Optimization,courier,parcel,package,Supply Chain">
    <title>Dashboard</title>
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="{% static 'css/dist/simplebar.css' %}">
    <!-- Main styles for this application-->
    <link href="{% static 'css/dist/dashboard_style.css' %}" rel="stylesheet">
    <!-- styles to include icons -->
    <link href="{% static '@coreui/icons/css/all.min.css' %}" rel="stylesheet">
  </head>




<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="clearfix">
              <h1 class="float-start display-3 me-4">500</h1>
              <h4 class="pt-3">😕, we have a problem!</h4>
              <p class="text-medium-emphasis">The page you are looking for is temporarily unavailable.</p>
            </div>
           
            <div class="d-flex justify-content-center"><a href="/"><button class="btn btn-md btn-primary text-white" type="button">Home</button></a></div>
          </div>
        </div>
      </div>
    </div>
</body>


      <!-- CoreUI and necessary plugins-->
  <script src="{% static 'js/dist/coreui.bundle.min.js' %}"></script>
  <script src="{% static 'js/dist/simplebar.min.js' %}"></script>
  <!-- Plugins and scripts required by this view-->
  <script src="{% static 'js/dist/chart.min.js' %}"></script>
  <script src="{% static 'js/dist/coreui-chartjs.js' %}"></script>
  <script src="{% static 'js/dist/coreui-utils.js' %}"></script>
  <script src="{% static 'js/dist/main.js' %}"></script>

</body>
</html>