{% extends 'dashboard_base.html' %}
{% load static %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <!-- <h2 class="mb-4">Change Password</h2> -->
                <!-- <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }} -->
                    <!-- <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div> -->
                    <!-- <button type="submit" class="btn btn-primary">Change Password</button>
                </form> -->


                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    
                    <div class="row g-3 mb-3">
                        <h5>Change Password</h5>
                        
                        <div class="col-md-7">
                          <label for="id_old_password" class="form-label form-label-sm">Old Password:</label>
                          <input type="password" name="old_password" autocomplete="current-password" class="form-control form-control-sm" required="" id="id_old_password">
                      </div>

                      <div class="col-md-7">
                        <label for="id_new_password1" class="form-label form-label-sm">New Password:</label>
                        <input type="password" name="new_password1" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password1">
                      </div>
                        
                      <div class="col-md-7">
                        <label for="id_new_password2" class="form-label form-label-sm">Confirm New Password:</label>
                        <input type="password" name="new_password2" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password2">
                      </div>
                      
                </div>

                    <div class="row g-3">
                    <div class="col mb-4">
                    <button type="submit" class="btn btn-sm btn-primary">Change Password</button>
                    </div>

                    </div>
                </form>

            </div>
        </div>
    </div>



{% endblock %}