{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>No</th>
                  <th>Package</th>
                  <th>Recipient</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Package No</th>
                  <th>status</th>
                  <th>Courier</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for package in packages %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ forloop.counter }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.packageName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.sendersAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.package_number }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis">
                        {% if package.status == 'upcoming' %}
                        <img src="{% static 'img/pending.png' %}" alt="" width="30px" height="30px">
                        {% elif package.status == 'dropped_off' %}
                        <img src="{% static 'img/dropped.png' %}" alt="" width="30px" height="30px">
                        {% elif package.status == 'ongoing' %}
                        <img src="{% static 'img/started.png' %}" alt="" width="30px" height="30px">
                        {% elif package.status == 'completed' %}
                        <img src="{% static 'img/completed.png' %}" alt="" width="30px" height="30px">
                        {% elif package.status == 'ready_for_pickup'%}
                        <img src="{% static 'img/box.png' %}" alt="" width="25px" height="25px">
                        {% endif %}
                    </div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis">
                        {% if package.status == 'upcoming' and package.deliveryType == 'premium' or package.deliveryType == 'express' %}
                        <a href="{% url 'admin_assign_courier' package_id=package.id %}">
                            <button class="btn btn-sm btn-primary text-white w-75">Assign</button>
                        </a>
                        {% elif package.status == 'dropped_off'%}
                        <a href="{% url 'admin_assign_courier' package_id=package.id %}">
                            <button class="btn btn-sm btn-primary text-white w-75">Assign</button>
                        </a>
                        {% else %}
                        {% if package.courier %}
                        {{ package.courier.name }}
                        {% else %}
                        Not Accepted yet
                        {% endif %}
                        {% endif %}
                    </div>
                  </td>
                    
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{% if package.status == 'in_transit' %}
                        <form action="{% url 'notify_dropoff' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-primary text-white">Notify Drop-off</button>
                        </form>                            
                    {% endif %}</span>
                </div>
                  </td>
                 
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon cil-options"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Info</a><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item text-danger" href="#">Delete</a></div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->
  </div>

{% endblock %}