{% extends 'dashboard_base.html' %}

{% load static %}


{% block content %}


<div class="row">
  <div class="container mb-3">
    <div class="col-md-12">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
      {% csrf_token %}

      {{ form.errors }}


<!-- Form Name -->
<h5>Create Drop-Pick User </h5>

<!-- Text input-->

<div class="form-group mt-2">
  <label class="col-md-6 control-label" >Name</label> 
  <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-text">👤</span>
      <input name="name" placeholder="Name" class="form-control form-control-sm"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group mt-2">
  <label class="col-md-6 control-label" >Username</label> 
    <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-text">👤</span>
  <input name="username" placeholder="Username" class="form-control form-control-sm"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group mt-2"> 
    <label class="col-md-6 control-label">Drop Pick Zone</label>
      <div class="col-md-6 selectContainer">
      <div class="input-group">
        <span class="input-group-text">🏪</span>
          <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span> -->
          <select name="drop_pick_zone" class="form-control form-control-sm selectpicker">
            <option value="">Please select drop pick zone</option>
            {% for drop_pick_zone in drop_pick_zones %}
            <option value="{{ drop_pick_zone.id }}">{{ drop_pick_zone.name }}</option>
            {% endfor %}
        </select>
    </div>
  </div>
</div>

<div class="form-group mt-2">
    <label class="col-md-6 control-label"></label>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary btn-sm text-white" >Create <span class="glyphicon glyphicon-send"></span></button>
    </div>
  </div> 
</form>
</div>
  </div>
</div>
{% endblock %}