{% extends 'dashboard_base.html' %}

{% load static %}


{% block content %}

<div class="row">
<div class="container mb-3">
    <div class="col-md-12">
    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
      {% csrf_token %}


<!-- Form Name -->
<h5>Create Warehouse </h5>

<!-- Text input-->

<div class="form-group mt-2">
  <label class="col-md-6 control-label">Full Name</label>  
  <div class="col-md-6 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-text">👤</span>
  <input  name="name" placeholder="Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group mt-2">
  <label class="col-md-6 control-label">Address</label>  
    <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-text">📌</span>
  <input id="address" name="address" placeholder="Address" class="form-control" type="text">
    </div>
  </div>
</div>

<input id="latitude" name="latitude" placeholder="latitude" class="form-control" type="text" hidden>

<input id="longitude" name="longitude" placeholder="longitude" class="form-control" type="text" hidden>


<!-- Text input-->
       
<div class="form-group mt-2">
  <label class="col-md-6 control-label">Contact</label>  
    <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-text">📞</span>
  <input name="phone" placeholder="Phone number" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
<div class="form-group mt-2">
  <label class="col-md-6 control-label">Tag</label>  
    <div class="col-md-6 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-text">🏷️</span>
  <input name="tag" placeholder="Tag alias" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<!-- Success message -->
<!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div> -->

<!-- Button -->
<div class="form-group mt-2">
  <label class="col-md-6 control-label"></label>
  <div class="col-md-6">
    <button type="submit" class="btn btn-primary btn-sm text-white" >Create <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>


</form>
    </div>
</div>
</div>
    <!-- /.container -->

    <script>
      //load after page loads
      $(function () { 

        //initiate auto complete 
      var from_autocomplete = new google.maps.places.Autocomplete($("#address")[0], {});

      google.maps.event.addListener(from_autocomplete, 'place_changed', function() {
      var place = from_autocomplete.getPlace();
      //console.log(place);
      //console.log("latitude:"+place.geometry.location.lat());
      //console.log("longitude:"+place.geometry.location.lng());
      //set values into the feilds
      $("#latitude").val(place.geometry.location.lat());
      $("#longitude").val(place.geometry.location.lng());


      });

       
      });
    </script>


{% endblock %}