{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

<div class="row">
  <a href="{% url 'create_drop_pick' %}"><button class="btn btn-sm btn-primary my-2" type="submit"> + drop_pick_zone</button></a>
    <h5>Drop and Pick up Zones</h5>
    
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Address</th>
                  <th>Tag</th>
                  <th>Warehouse</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for drop_pick_zone in drop_pick_zones %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ drop_pick_zone.name }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ drop_pick_zone.phone }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ drop_pick_zone.address }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ drop_pick_zone.tag }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ drop_pick_zone.warehouse.name }}</span></div>
                  </td>
                  
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon cil-options"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Info</a><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item text-danger" href="#">Delete</a></div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->
  </div>


  <div class="row">
    <a href="{% url 'create_drop_pick_user' %}"><button class="btn btn-sm btn-primary my-2" type="submit"> + drop pick user</button></a>
      <h5>Drop Pick Zone Users</h5>
      
      <div class="col-md-12">
            
            <!-- /.row--><br>
            <div class="table-responsive mb-4 bg-white">
              <table class="table border mb-0">
                <thead class="table-white fw-semibold">
                  <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Drop Pick Zone</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr class="align-middle">
                    <td class="text-start">
                      <div class="small text-medium-emphasis"><span>{{ user.name }}</span></div>
                    </td>
                    <td class="text-start">
                      <div class="small text-medium-emphasis"><span>{{ user.username }}</span></div>
                    </td>
                    <td class="text-start">
                      <div class="small text-medium-emphasis"><span>{{ user.drop_pick_zone.name }}</span></div>
                    </td>
                    
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon cil-options"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Info</a><a class="dropdown-item" href="#">Edit</a><a class="dropdown-item text-danger" href="#">Delete</a></div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          
      </div>
      <!-- /.col-->
    </div>
  
{% endblock %}