{% extends 'dashboard_base.html' %} {% load static %} {% block static_links %}
<!-- We use those styles to show code examples, you should remove them in your application.-->
<link href="{% static 'css/dist/examples.css' %}" rel="stylesheet" />
<link href="{% static 'css/dist/coreui-chartjs.css' %}" rel="stylesheet" />
<script src="{% static 'js/dist/chart.min.js' %}"></script>
{% endblock %} {% block content %}

<!-- statistics-summary cards  -->
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4 text-white bg-primary">
      <div class="card-body pb-0 d-flex justify-content-between align-items-start">
        <div>
          <div class="fs-4 fw-semibold">
            {{ total_packages }}
          </div>
          <div>Packages</div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4 text-white bg-info">
      <div
        class="card-body pb-0 d-flex justify-content-between align-items-start"
      >
        <div>
          <div class="fs-4 fw-semibold">
            ###
          </div>
          <div>Income</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4 text-white bg-warning">
      <div
        class="card-body pb-0 d-flex justify-content-between align-items-start"
      >
        <div>
          <div class="fs-4 fw-semibold">
            ##%
          </div>
          <div>Conversion Rate</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card mb-4 text-white bg-danger">
      <div
        class="card-body pb-0 d-flex justify-content-between align-items-start"
      >
        <div>
          <div class="fs-4 fw-semibold">
            ###K

          </div>
          <div>Sessions</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- statistics-summary cards end here-->

<!-- curve graph card -->
<!-- /.row-->
<div class="card mb-4">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div class="card-header">
        <h4 class="card-title mb-0">Package Report(Weekly)</h4>
        <div class="small text-medium-emphasis">{{ week_label }}</div>
      </div>
      <div
        class="btn-toolbar d-none d-md-block"
        role="toolbar"
        aria-label="Toolbar with buttons"
      >
        <div
          class="btn-group btn-group-toggle mx-3"
          data-coreui-toggle="buttons"
        >
          <input
            class="btn-check"
            id="option1"
            type="radio"
            name="options"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary"> Day</label>
          <input
            class="btn-check"
            id="option2"
            type="radio"
            name="options"
            autocomplete="off"
            checked=""
          />
          <label class="btn btn-outline-secondary active"> Month</label>
          <input
            class="btn-check"
            id="option3"
            type="radio"
            name="options"
            autocomplete="off"
          />
          <label class="btn btn-outline-secondary"> Year</label>
        </div>
        <button class="btn btn-primary" type="button">
          <i class="icon cil-cloud-download"></i>
        </button>
      </div>
    </div>
    <div class="c-chart-wrapper" style="height: 300px; margin-top: 40px">
      <canvas id="myWeeklyChart" height="300"></canvas>
    </div>
  </div>
  <div class="card-footer">
    <div class="row row-cols-1 row-cols-md-4 text-center">
      <div class="col mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Delivered Packages Today</div>
        <div class="fw-semibold">{{ total_delivered_packages_day }}</div>
        <div class="progress progress-thin mt-2">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: {{ percentage_delivered_day }}%"
            aria-valuenow="{{ percentage_delivered_day }}"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>

      <div class="col mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Delayed Packages Today</div>
        <div class="fw-semibold">{{ total_delayed_packages_day }}</div>
        <div class="progress progress-thin mt-2">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: {{ percentage_delayed_day }}%"
            aria-valuenow="{{ percentage_delayed_day }}"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>

      <!-- At the end of the week, show the average percentages -->

      <div class="col mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Average for the Week</div>
        <div class="fw-semibold">{{ total_delivered_packages_week }}</div>
        <div class="progress progress-thin mt-2">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: {{ percentage_delivered_week }}%"
            aria-valuenow="{{ percentage_delivered_week }}"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>

      <div class="col mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Av. Delayed for the Week</div>
        <div class="fw-semibold">{{ total_delayed_packages_week }}</div>
        <div class="progress progress-thin mt-2">
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: {{ percentage_delayed_week }}%"
            aria-valuenow="{{ percentage_delayed_week }}"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- sales-summary ends here -->
<!-- /.row-->
<script>
  function plotWeeklyChart() {
    var mydata = {{ chart_data_week_packages|safe }};
    draw_chartjs_chart(
      mydata.chart_type, "myWeeklyChart", mydata.x_values, mydata.datasets,
      mydata.chart_title, mydata.x_title, mydata.y_title,
    );
  }
  document.addEventListener('DOMContentLoaded', function() {
      plotWeeklyChart();
  });
</script>
{% endblock %}
