{% extends 'admin/admin_base.html' %}
{% load static %}

{% block content %}
  <div style="width: 80%; margin: 0 auto;">
    <canvas id="myChart" width="400" height="200"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var ctx = document.getElementById('myChart').getContext('2d');
      var data = {
        labels: {{ chart_data.labels|safe }},
        datasets: [{
          label: 'Total Packages Delivered in the last 30 Days',
          data: {{ chart_data.data|safe }},
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      };

      var myChart = new Chart(ctx, {
        type: 'line', // Use 'line' for daily totals over time
        data: data,
        options: {
          // Additional options for customization (e.g., title, legend, etc.)
        }
      });
    });
  </script>
{% endblock %}

