{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<h2>Packages</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Package Title</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Address From</th>
                    <th scope="col">Address To</th>
                    <th scope="col">Package Number</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for package in assigned_packages %}
                {% if package.status in 'dispatched, upcoming, ongoing, arrived, en_route, warehouse_arrival, in_transit, at_pickup, ready_for_pickup' %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ package.packageName }}</td>
                    <td>{{ package.recipientName }}</td>
                    <td>{{ package.sendersAddress }}</td>
                    <td>{{ package.recipientAddress }}</td>
                    <td>{{ package.package_number }}</td>
                    <td>
                        {% if package.status == 'en_route' %}
                        <form action="{% url 'notify_arrival' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-info text-white">Notify Arrival</button>
                        </form>
                        {% elif package.status == 'warehouse_arrival' %}
                        <form method="post">
                            {% csrf_token%}
                            <img src="{% static 'img/loading.png' %}" alt="" width="25px" height="25px">
                        </form>
                        {% elif package.status == 'in_transit' %}
                            {% csrf_token %}
                        <img src="{% static 'img/transit.png' %}" alt="" width="25px" height="25px">
                        <!-- {{ package.status }} -->
                        {% endif %}
                    </td>
                    <td>
                        {% if package.status == 'in_transit'%}
                        <form action="{% url 'notify_pick_up' package_id=package.id %}" method="post">
                            {%csrf_token%}
                            <button type="submit" class="btn btn-sm btn-primary">Notify Pick-Up</button>
                        </form>
                        {% elif package.status == 'at_pickup' %}
                        <img src="{% static 'img/loading.png' %}" alt="" width="25px" height="25px">
                        {% endif %}
                    </td>
                    <td>
                        {% if package.status == 'ongoing'%}
                        <form action="{% url 'notify_recipient' package_id=package.id %}" method="post">
                            {% csrf_token%}
                            <button class="btn btn-sm btn-info">Notify Arrival</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}