{% extends 'registration/password_reset_base.html' %}

{% load static %}


{% block title %}Reset Complete{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3 class="text-center">Password Reset Complete</h3>
    <p class="text-center"> Your password has been set. You may go ahead and log in now</p>

    <div class="form-group">
        <a href="{% url 'login_view' %}" id="confirm"><input class="form-control button"  type="button" value="Log in"></a>
    </div>
</form>
{% endblock %}



