<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard' %}">
        <i class="nav-icon cil-layers"></i>Main Dashboard</a>
        <!-- <i class="nav-icon cil-command"></i>Main Dashboard</a> -->
    </li>
    
    <!-- <li class="nav-title">Manage</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard' %}">
        <i class="nav-icon cil-briefcase"></i>Dashboard</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'dropoffs' %}">
        <i class="nav-icon cil-basket"></i>Dropoffs</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_dispatch' %}">
        <i class="nav-icon cil-flight-takeoff"></i>Dispatch</a>
    </li> -->
        
    <li class="nav-title">Hubs</li>
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-industry"></i>Warehouses</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'warehouses' %}">
          <i class="nav-icon"></i>View Warehouses</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_warehouse' %}">
          <i class="nav-icon"></i>Add Warehouse</a>
        </li>
      </ul>
    </li>

    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-house"></i>Drop-Picks</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'drop_pick_zones' %}">
          <i class="nav-icon"></i>View Drop-Picks</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_drop_pick' %}">
          <i class="nav-icon"></i>Add Drop-Pick</a>
        </li>
      </ul>
    </li>

    <li class="nav-title">Users</li>
    <li class="nav-item"><a class="nav-link" href="{% url 'users' %}">
      <i class="nav-icon cil-group"></i>Senders</a>
    </li>
    
    <!-- <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-user"></i>Senders</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="#">
          <i class="nav-icon"></i>View Senders</a>
        </li>
      </ul>
    </li> -->
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-truck"></i>Couriers</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'couriers' %}">
          <i class="nav-icon"></i>View Couriers</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_courier' %}">
          <i class="nav-icon"></i>Add Courier</a>
        </li>
      </ul>
    </li>
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-user"></i>Warehouses</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'warehouse_users' %}">
          <i class="nav-icon"></i>View Warehouse admins</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_warehouse_user' %}">
          <i class="nav-icon"></i>Add Warehouse admin</a>
        </li>
      </ul>
    </li>
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-user"></i>Drop-Picks</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'drop_pick_users' %}">
          <i class="nav-icon"></i>View Drop-Pick admins</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_drop_pick_user' %}">
          <i class="nav-icon"></i>Add Drop-Pick admin</a>
        </li>
      </ul>
    </li>

    <li class="nav-title">Reports</li>
    <li class="nav-group"><a class="nav-link nav-group-toggle" href="#"><i class="nav-icon cil-spreadsheet"></i>Reports</a>
      <ul class="nav-group-items">
        <li class="nav-item"><a class="nav-link" href="{% url 'package_reports' %}">
          <i class="nav-icon cil-graph"></i>Package Reports</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user_reports' %}">
          <i class="nav-icon cil-graph"></i>User Reports</a>
        </li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_history' %}">
      <i class="nav-icon cil-history"></i>History</a>
    </li>

</ul>