{% extends 'dashboard_base.html' %}

{% load static %}



{% block profile_image %} 
    <img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px" >
{% endblock %}




{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button> -->
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="section section-total">
            <h4>Total</h4>
            <button class="btn btn-sm btn-primary text-white w-100">In Detail</button>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="section section-pending">
            <h4>Pending</h4>
            <button class="btn btn-sm btn-primary text-white w-100">In Detail</button>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="section section-delivered">
            <h4>Delivered</h4>
            <button class="btn btn-sm btn-primary text-white w-100">In Detail</button>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="section section-failed">
            <h4>Failed</h4>
            <button class="btn btn-sm btn-primary text-white w-100">In Detail</button>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="section section-in-transit">
            <h4>In-Transit</h4>
            <button class="btn btn-sm btn-primary text-white w-100">In Detail</button>
        </div>
    </div>
</div>

</div>
{% endblock %}