{% extends 'dashboard_base.html' %}

{% load static %}


{% block content %}

<div class="container px-5" data-aos="fade-up">
    <div class="row g-5">
        
        <div class="col-md-8 col-lg-10">
          <h4 class="my-5">Add Package</h4>
          
          <form class="needs-validation" novalidate action="{% url 'register_package' %}" method="post">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="packageName" class="form-label">Package Name</label>
                <input type="text" class="form-control" id="packageName" name="packageName" placeholder="Package Name" value="" required>
                <div class="invalid-feedback">
                  Valid Package name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="deliveryType" class="form-label">Delivery Type</label>
                <select class="form-select" id="deliveryType" name="deliveryType" required>
                  <option value="" selected disabled>-- Select Delivery Type --</option>
                  <option value="standard">Standard</option>
                  <option value="premium">Premium</option>
                  <option value="express">Express</option>
                </select>
                <div class="invalid-feedback">
                  Please select a delivery type.
                </div>
              </div>
              

              <div class="col-12">
                <label for="packageDescripton" class="form-label">Package Description</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="packageDescription" name="packageDescription" placeholder="Enter Description" required>
                <div class="invalid-feedback">
                    Recipient Name is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="recipientName" class="form-label">Recipient Name</label>
                <div class="input-group has-validation">
                  <input type="text" class="form-control" id="recipientName" name="recipientName" placeholder="Recipient Name" required>
                <div class="invalid-feedback">
                    Recipient Name is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="recipientEmail" class="form-label">Recipient Email</label>
                <div class="input-group has-validation">
                  <input type="email" class="form-control" id="recipientEmail" name="recipientEmail" placeholder="Recipient Email" required>
                <div class="invalid-feedback">
                    Recipient Email is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="recipientTelephone" class="form-label">Recipient Telephone</label>
                <div class="input-group has-validation">
                  <input type="tel" class="form-control" id="recipientTelephone" name="recipientTelephone" placeholder="Recipient Telephone" pattern="[0-9]{10}" required>
                  <div class="invalid-feedback">
                    Please enter a valid ten-digit telephone number.
                  </div>
                </div>
              </div>
              
  
              <div class="col-12">
                <label for="recipientAddress" class="form-label">Recipient Address</label>
                <input type="text" class="form-control" id="recipientAddress" name="recipientAddress" placeholder="Recipient Address">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
  
              <div class="col-12">
                <label for="sendersAddress" class="form-label"> Sender's Address</label>
                <input type="text" class="form-control" id="sendersAddress" name="sendersAddress" placeholder="Sender's Address" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
  
            <button class="w-25 btn btn-primary" type="submit">Click to confirm</button>
          </form>
        </div>
      </div>
  </div>

  {% endblock %}