{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<h2>Packages</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Package Title</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Address From</th>
                    <th scope="col">Address To</th>
                    <th scope="col">Package Number</th>
                    <th scope="col">status</th>
                </tr>
            </thead>
            <tbody>
                {% for package in packages %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ package.packageName }}</td>
                        <td>{{ package.recipientName }}</td>
                        <td>{{ package.sendersAddress }}</td>
                        <td>{{ package.recipientAddress }}</td>
                        <td>{{ package.package_number }}</td>
                        <td>
                            {% if package.status == 'upcoming' %}
                            <form action="{% url 'confirm_drop_off' package_id=package.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-warning text-white">Confirm Drop-Off</button>
                            </form>
                            {% elif package.status == 'dropped_off' %}
                                <button type="button" class="btn btn-sm btn-info text-white">Dropped Off</button>
                            {% elif package.status == 'in_transit' %}
                                <img src="{% static 'img/transit.png'%}" alt="" width="25px" height="25px">
                            {% elif package.status == 'at_pickup'%}
                            <form action="{% url 'confirm_at_pickup' package_id=package.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-primary">Confirm</button>
                            </form>
                            {% elif package.status == 'pending_delivery' %}
                            <img src="{%static 'img/pickup.png'%}" alt="" width="25px" height="25px">
                            {% elif package.status == 'out_for_delivery' %}
                            <img src="{% static 'img/delivering.png' %}" alt="" width="25px" height="25px">
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            {% if package.status == 'pending_delivery' %}
                            <a href="{% url 'delivery_courier' package_id=package.id %}">
                                <button type="submit" class="btn btn-sm btn-info">Assign</button>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if package.status == 'out_for_delivery' %}
                            <form action="{% url 'confirm_pickedup' package_id=package.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-primary">Confirm</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

        
        

{% endblock %}