<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'drop_pick_zone_dashboard' %}">
        <i class="nav-icon cil-briefcase"></i>Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_package' %}">
        <i class="nav-icon cil-plus"></i>Add Package
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'received_packages' %}">
        <i class="nav-icon cil-house"></i>Received Packages
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dispatched_packages' %}">
        <i class="nav-icon cil-truck"></i>Dispatched
      </a>
    </li>
    
  </ul>