<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sender_dashboard' %}">
      <i class="nav-icon cil-speedometer"></i>Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'register_package' %}">
      <i class="nav-icon cil-speedometer"></i>Add Package
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sender_history' %}">
      <i class="nav-icon cil-drop"></i> History
    </a>
  </li>

</ul>