<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
    
  <li class="nav-item">
    <a class="nav-link" href="{% url 'warehouse_dashboard' %}">
      <i class="nav-icon cil-layers"></i>Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'new_arrivals' %}">
      <i class="nav-icon cil-location-pin"></i>New Arrivals
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'in_house' %}"><i class="nav-icon cil-house"></i>In house
    </a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="{% url 'warehouse_reports' %}"><i class="nav-icon cil-notes"></i>Reports
    </a>
  </li>

 
</ul>