{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}
<div class="container my-2" data-aos="fade-up">
    <div class="row g-5">
        
        <div>
          <!-- <h4 class="">Add Package</h4> -->
          
          <form class="needs-validation" novalidate action="{% url 'register_package' %}" method="post" id="packageForm">
            {% csrf_token %}
            <div class="row g-3 mb-3">
              

              <div class="col-md-4">
                <label for="sendersAddress" class="form-label form-label-sm"> Sender's Address<span class="text-danger">*</span></label>
                <!-- <input id="senderAddress" name="sendersAddress" placeholder="Sender's Address" class="form-control form-control-sm" type="text" onkeyup="calculateDeliveryFee()" required> -->
                {{ form.sendersAddress}}
                
                {% if form.sendersAddress.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.sendersAddress.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

              <div class="col-md-4">
                <label for="sendersContact" class="form-label form-label-sm"> Sender's Contact<span class="text-danger">*</span></label>
                <!-- <input id="senderContact" name="sendersContact" placeholder="Sender Contact" class="form-control form-control-sm" type="tel" required> -->
                {{ form.sendersContact }}
                
                {% if form.sendersContact.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.sendersContact.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

              <div class="form-group col-md-4">
                <label for="packageName" class="form-label">Package Name<span class="text-danger">*</span></label>
                <!-- <input type="text" class="form-control form-control-sm" id="packageName" name="packageName" placeholder="Package Name" value="" required> -->
                {{ form.packageName }}
                
                {% if form.packageName.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.packageName.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                
              </div>

              <div class="col-md-12">
                <label for="packageDescripton" class="form-label form-label-sm">Package Description<span class="text-danger">*</span></label>
                <div class="input-group has-validation">
                  <!-- <input type="text" class="form-control form-control-sm" id="packageDescription" name="packageDescription" placeholder="Enter Description" required> -->
                  <!-- <textarea id="packageDescription" name="packageDescription" placeholder="Enter Description" class="form-control form-control-sm" required></textarea> -->
                  {{ form.packageDescription }}
                  
                </div>

                {% if form.packageDescription.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.packageDescription.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

              <div class="form-group col-md-3">
                <label for="deliveryType" class="form-label form-label-sm">Delivery Type<span class="text-danger">*</span></label>
                <!-- <select class="form-select form-select-sm" id="deliveryType" name="deliveryType" required>
                  <option value="" selected disabled> -- Select Delivery Type -- </option>
                  <option value="standard">Standard</option>
                  <option value="premium">Premium</option>
                  <option value="express">Express</option>
                </select> -->

                {{ form.deliveryType }}

                {% if form.deliveryType.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.deliveryType.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

              <div class="col-md-9" id="dropOffLocationContainer">
                <label for="dropOffLocation" class="form-label form-label-sm">Drop Off Location</label>
                <!-- <select class="form-control form-control-sm" id="dropOffLocation" name="dropOffLocation" required>
                  <option value="" selected disabled>-- Select Drop Off Location --</option>
                  {% for drop_pick_zone in drop_pick_zones %}
                    <option value="{{ drop_pick_zone.id }}">{{ drop_pick_zone.name }}</option>
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Please select a delivery location.
                </div>               -->

                {{ form.dropOffLocation }}

                {% if form.dropOffLocation.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.dropOffLocation.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

            </div>


            <div class="row g-3">

            <input type="hidden" id="sender_latitude" name="sender_latitude" value="" required>
            <input type="hidden" id="sender_longitude" name="sender_longitude" value="" required>        
            
          
            <div class="col-md-4">
              <label for="recipientName" class="form-label form-label-sm">Recipient Name<span class="text-danger">*</span></label>
              <div class="input-group has-validation">
                <!-- <input type="text" class="form-control form-control-sm" id="recipientName" name="recipientName" placeholder="Recipient Name" required> -->
                {{ form.recipientName }}

              </div>

              {% if form.recipientName.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientName.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            <div class="col-md-4">
              <label for="recipientEmail" class="form-label form-label-sm">Recipient Email</label>
              <div class="input-group has-validation">
                <!-- <input type="email" class="form-control form-control-sm" id="recipientEmail" name="recipientEmail" placeholder="Recipient Email"> -->
                {{ form.recipientEmail }}

              </div>

              {% if form.recipientEmail.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientEmail.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            <div class="col-md-4">
              <label for="recipientTelephone" class="form-label form-label-sm">Recipient Telephone<span class="text-danger">*</span></label>
              
              <div class="input-group has-validation">
                <!-- <input type="tel" class="form-control form-control-sm" id="recipientTelephone" name="recipientTelephone" placeholder="Recipient Telephone" pattern="[0-9]{10}" required> -->
                {{ form.recipientTelephone }}

              </div>

              {% if form.recipientTelephone.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientTelephone.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            <div class="col-md-6">
              <label for="recipientAddress" class="form-label form-label-sm">Recipient Address<span class="text-danger">*</span></label>
              <!-- <input id="recipientAddress" name="recipientAddress" placeholder="Recipient Address" class="form-control form-control-sm" type="text" onkeyup="calculateDeliveryFee()" required> -->
              {{ form.recipientAddress }}

              {% if form.recipientAddress.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientAddress.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            <div class="col-md-4">
              <label for="recipientIdentification" class="form-label form-label-sm">National ID/Passport</label>
              <!-- <input id="recipientIdentification" name="recipientIdentification" placeholder="Enter Recipient Id" class="form-control form-control-sm" type="text"> -->
              {{ form.recipientIdentification }}

              {% if form.recipientIdentification.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientIdentification.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            <div class="form-group col-md-2">
              <label for="genderType" class="form-label form-label-sm">Recipient Gender</label>
              <!-- <select class="form-select form-select-sm" id="genderType" name="genderType">
                <option value="" selected disabled> -- Select Gender -- </option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select> -->
              {{ form.genderType }}

              {% if form.genderType.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.genderType.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}

            </div>

            
              <div class="col-md-6" id="recipientPickUpLocationContainer">
                <label for="recipientPickUpLocation" class="form-label form-label-sm">Recipient Pick-up Location</label>
                <!-- <select class="form-control form-control-sm" id="recipientPickUpLocation" name="recipientPickUpLocation" required>
                  <option value="" selected disabled>-- Select Recipient Pick-up Location --</option>
                  {% for drop_pick_zone in drop_pick_zones %}
                    <option value="{{ drop_pick_zone.id }}">{{ drop_pick_zone.name }}</option>
                  {% endfor %}
                </select> -->
                {{ form.recipientPickUpLocation }}

                {% if form.recipientPickUpLocation.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientPickUpLocation.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>

              <div class="col-md-6" id="deliveryFee">
                <label for="deliveryFee" class="form-label form-label-sm">Delivery Fee</label>
                <!-- <input id="deliveryFeeInput" name="deliveryFee" placeholder="Delivery Fee" class="form-control form-control-sm" type="text" disabled> -->
                {{ form.deliveryFee }}

                {% if form.deliveryFee.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.deliveryFee.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}

              </div>           

          </div>



          <div class="row g-3 mt-2">
              
              <input type="hidden" id="recipient_latitude" name="recipient_latitude" value="">
              <input type="hidden" id="recipient_longitude" name="recipient_longitude" value="">

              <div class="col-md-12">
                <button class="btn btn-primary btn-sm text-white" type="submit">Click to confirm</button>
              </div>
          </div>
            
          </form>

        </div>
      </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const deliveryTypeSelect = document.getElementById("deliveryType");
    const dropOffLocationInput = document.getElementById("dropOffLocation");
    const recipientPickUpLocationInput = document.getElementById("recipientPickUpLocation");

    dropOffLocationInput.disabled = true;
    recipientPickUpLocationInput.disabled = true;

    deliveryTypeSelect.addEventListener("change", function() {
        if (this.value === "standard") {
            dropOffLocationInput.disabled = false; 
            recipientPickUpLocationInput.disabled = false; 
        } else {
            dropOffLocationInput.disabled = true; 
            recipientPickUpLocationInput.disabled = true;
        }
    });
});
  </script>
  

  <script>
    
  function getGPS() {
    // pick the location
    if ("geolocation" in navigator) {
      navigator.geolocation.getCurrentPosition(function (position) {
        //console.log(position.coords);
        //set the GPS into feilds
        const sender_latitude = position.coords.latitude;
        const sender_longitude = position.coords.longitude;
        document.getElementById("sender_latitude").value = sender_latitude;
        document.getElementById("sender_longitude").value = sender_longitude;

        // console.log("Sender Latitude:", sender_latitude);
        // console.log("Sender Longitude:", sender_longitude);

        //get human readable name for current GPS location
        //get cordinates

        var request = new XMLHttpRequest();
        var g_key= '{{ api_key }}';
        var method = 'GET';
        var url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+sender_latitude+','+sender_longitude+'&sensor=true'+'&key='+g_key;
        var async = true;

        request.open(method, url, async);
        request.onreadystatechange = function(){
          if(request.readyState == 4 && request.status == 200){
            var data = JSON.parse(request.responseText);
            var address = data.results[0];
            //console.log(address.formatted_address);
            document.getElementById("senderAddress").value = address.formatted_address;
          }

        };
        request.send();

        // get new droplist
        redraw_dropoff_list(sender_latitude, sender_longitude);

      }, function (error) {
        console.log("Failed to get location");
        alert("Failed to get your GPS location. Please enable GPS.");
        console.log(error);
      }, { maximumAge: 0, enableHighAccuracy: true });
    } else {
      console.log("Device does not support geolocation!");
      alert("Device does not support geolocation!");
    }
    
  }

  //get drop lits in javacsript
  /*
  var drop_lists = {{ drop_pick_zones_json|safe }};
  */

  function redraw_dropoff_list(lat, lng)
  {

    $.ajax({
        method: "POST",
        url: "/api",
        data: { action: "get_closest_drop_pick_locations", lat: lat, lng: lng }
    }).done(function( response ) {
        //console.log(response);
        //overide options
        $("#dropOffLocation").html(response.data);
    });

  }

  function populateRecipientLocation() {
    console.log("populate triggered");
    // Function to populate recipient drop-off locations
    const recipientAddressInput = document.getElementById("recipientAddress");
    const recipientLatitudeInput = document.getElementById("recipient_latitude");
    const recipientLongitudeInput = document.getElementById("recipient_longitude");
    const recipientPickUpLocationContainer = document.getElementById("recipientPickUpLocationContainer");

    console.log("Recipient Latitude:", recipient_latitude);
    console.log("Recipient Longitude:", recipient_longitude);

    if (recipientAddressInput.value !== "") {
      // Perform actions to populate recipient drop-off locations based on the recipient's address
      const recipient_latitude = recipientLatitudeInput.value;
      const recipient_longitude = recipientLongitudeInput.value;
      redraw_recipient_dropoff_list(recipient_latitude, recipient_longitude);
      recipientPickUpLocationContainer.style.display = "block";
    } else {
      recipientPickUpLocationContainer.style.display = "none";
    }
    
  }

  
  function redraw_recipient_dropoff_list(lat, lng) {
    // Function to redraw recipient drop-off locations based on recipient's latitude and longitude
    $.ajax({
      method: "POST",
      url: "/api",
      data: { action: "get_closest_drop_pick_locations", lat: lat, lng: lng },
    }).done(function (response) {
      // Sort the drop-off locations based on distance before populating the dropdown
      const dropOffLocationSelect = $("#recipientPickUpLocation");
      dropOffLocationSelect.html(response.data);
      
      // Note: We are not selecting any option here, so the user can choose from the list of closest drop-off locations.
    });
  }

  // Call the function once when the page loads
  getGPS();
</script>

<script>
  // Load after page loads
  $(function() {
   

    // Initiate autocomplete for the sender's address field
    var senderAutocomplete = new google.maps.places.Autocomplete($("#senderAddress")[0], {});

    google.maps.event.addListener(senderAutocomplete, 'place_changed', function() {
      var place = senderAutocomplete.getPlace();
      // Log or process the selected place if needed
      //set values into the feilds
      document.getElementById("sender_latitude").value = place.geometry.location.lat();
      document.getElementById("sender_longitude").value = place.geometry.location.lng();

      // get new droplist
      redraw_dropoff_list(place.geometry.location.lat(), place.geometry.location.lng());
      calculateDeliveryFee();

    });

     // Initiate autocomplete for the recipient address field
    var recipientAutocomplete = new google.maps.places.Autocomplete($("#recipientAddress")[0], {});

    google.maps.event.addListener(recipientAutocomplete, 'place_changed', function() {
      var place = recipientAutocomplete.getPlace();
      // Log or process the selected place if needed
      //set values into the feilds
      $("#recipient_latitude").val(place.geometry.location.lat());
      $("#recipient_longitude").val(place.geometry.location.lng());

      console.log("new gps ready");
      // Call the function when the recipient address input changes
      populateRecipientLocation();
      calculateDeliveryFee();

    });

  });
</script>

<script>
  function calculateDeliveryFee() {
  const sender_latitude = document.getElementById("sender_latitude").value;
  const sender_longitude = document.getElementById("sender_longitude").value;
  const recipient_latitude = document.getElementById("recipient_latitude").value;
  const recipient_longitude = document.getElementById("recipient_longitude").value;

  if (senderAddress && recipientAddress) {
    // Perform AJAX request with sender and recipient addresses
    $.ajax({
      type: "POST",
      url: "/api/calculate_delivery_fee/",
      data: { sender_latitude: sender_latitude, sender_longitude: sender_longitude, recipient_latitude:recipient_latitude, recipient_longitude:recipient_longitude},
      success: function (response) {
        // Check if the API response contains the delivery_fee property
        if ('delivery_fee' in response) {
          // Populate the delivery fee input field with the calculated value
          document.getElementById("deliveryFeeInput").value = (Math.round(response.delivery_fee / 100) * 100).toFixed(2);
        } else {
          console.log("Invalid API response: missing delivery_fee property.");
        }
      },
      error: function (xhr, status, error) {
        console.log("API error:", error); // Handle the error if necessary
      },
    });
  }
}


</script>



{% endblock %}
