{% extends 'dashboard_base.html' %} 

{% load static %}



{% block profile_image %} 
    <img src="{% static '/img/team/team-1.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px" >
{% endblock %}



{% block content %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="btn-group me-2">
            <a href="{% url 'register_package' %}" class="btn btn-sm btn-outline-secondary">ADD PACKAGE +</a>
          </div>

        </div>
      </div>

<!-- Web View -->
      <h2>Packages</h2>
      
        <div class="package-table">
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Package Title</th>
                  <th scope="col">Delivery Type</th>
                  <th scope="col">Package Description</th>
                  <th scope="col">Recipient</th>
                  <th scope="col">Address From</th>
                  <th scope="col">Address To</th>
                  <th scope="col">Package Number</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for package in packages %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ package.packageName }}</td>
                    <td>{{ package.deliveryType }}</td>
                    <td>{{ package.packageDescription }}</td>
                    <td>{{ package.recipientName }}</td>
                    <td>{{ package.sendersAddress }}</td>
                    <td>{{ package.recipientAddress }}</td>
                    <td>{{ package.package_number }}</td>
                    <td>

                      <!-- <button type="submit" class="btn btn-sm btn-warning text-white">View Status</button> -->

                      <form action="" method="post">
                        {% csrf_token %}
                        <div class="modal fade" id="staticBackdrop{{ package.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              {% if package.status == 'upcoming' %}
                                <div class="d-flex align-items-center justify-content-center">
                                  <img src="{% static 'img/Upcoming.png' %}" alt="" width="498px" height="498px">
                                </div>
                              {% elif package.status == 'dropped_off' %}
                                <div class="d-flex align-items-center justify-content-center">
                                  <img src="{% static 'img/DroppedOff.png' %}" alt="" width="498px" height="498px">
                                </div>
                              {% elif package.status == 'in_house' %}
                                <div class="d-flex align-items-center justify-content-center">
                                  <img src="{% static 'img/InHouse.png' %}" alt="" width="498px" height="498px">
                                </div>
                              {% elif package.status == 'arrived' %}
                                <div class="d-flex align-items-center justify-content-center">
                                  <img src="{% static 'img/Arrived.png' %}" alt="" width="498px" height="498px">
                                </div>
                              {% elif package.status == 'completed' %}
                                <img src="{% static 'img/success.png' %}" alt="" width="498px" height="498px">
                              {% endif %}
                            </div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-sm btn-warning text-white" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop{{ package.id }}">View Status</button>
                      </form>
                      
                      


                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
        </div>

<!-- Mobile View -->

        <div class="row package-card">
          {% for package in packages %}
                  <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">Package {{ forloop.counter }}</h5>
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <th scope="row">Package Title:</th>
                                          <td>{{ package.packageName }}</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Recipient:</th>
                                          <td>{{ package.recipientName }}</td>
                                      </tr>
                                      <tr>  
                                          <th scope="row">Address From:</th>
                                          <td>{{ package.sendersAddress }}</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Address To:</th>
                                          <td>{{ package.recipientAddress }}</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Package Number:</th>
                                          <td>{{ package.package_number }}</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Status:</th>
                                          <td>
                                      
                                            <form action="" method="post">
                                              {% csrf_token %}
                                              <button type="button" class="btn btn-sm btn-warning text-white custom-modal-trigger" data-target="#customModal{{ package.id }}">View Status</button>
                                              <div class="custom-modal" id="customModal{{ package.id }}">
                                                <div class="custom-modal-content">
                                                  <div class="custom-modal-header">
                                                    <button type="button" class="custom-modal-close" data-target="#customModal{{ package.id }}">&times;</button>
                                                  </div>
                                                  {% if package.status == 'upcoming' %}
                                                    <div class="d-flex align-items-center justify-content-center">
                                                      <img src="{% static 'img/Upcoming.png' %}" alt="" width="300px" height="300px">
                                                    </div>
                                                  {% elif package.status == 'dropped_off' %}
                                                    <div class="d-flex align-items-center justify-content-center">
                                                      <img src="{% static 'img/DroppedOff.png' %}" alt="" width="300px" height="300px">
                                                    </div>
                                                  {% elif package.status == 'in_house' %}
                                                    <div class="d-flex align-items-center justify-content-center">
                                                      <img src="{% static 'img/InHouse.png' %}" alt="" width="300px" height="300px">
                                                    </div>
                                                  {% elif package.status == 'arrived' %}
                                                    <div class="d-flex align-items-center justify-content-center">
                                                      <img src="{% static 'img/Arrived.png' %}" alt="" width="350px" height="350px">
                                                    </div>
                                                  {% elif package.status == 'completed' %}
                                                    <img src="{% static 'img/success.png' %}" alt="" width="300px" height="300px">
                                                  {% endif %}
                                                </div>
                                              </div>
                                            </form>
                                            
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
          {% endfor %}
      </div>

   {% endblock %}

