{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Dispatched Packages</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<h2>Packages</h2>

    <div class="package-table">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Package Title</th>
                        <th scope="col">Recipient</th>
                        <th scope="col">Address From</th>
                        <th scope="col">Address To</th>
                        <th scope="col">Package Number</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ package.packageName }}</td>
                            <td>{{ package.recipientName }}</td>
                            <td>{{ package.sendersAddress }}</td>
                            <td>{{ package.recipientAddress }}</td>
                            <td>{{ package.package_number }}</td>
                            <td>
                                {% if package.status == 'dispatched' %}
                                <form action="{% url 'confirm_pickup' package.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-warning text-white">Confirm Pick Up</button>
                                </form>
                                {% elif package.status == 'en_route' %}
                                    <button type="button" class="btn btn-sm btn-info text-white">Picked Up</button>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row package-card">
        {% for package in packages %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Package {{ forloop.counter }}</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Package Title:</th>
                                        <td>{{ package.packageName }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Recipient:</th>
                                        <td>{{ package.recipientName }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address From:</th>
                                        <td>{{ package.sendersAddress }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Address To:</th>
                                        <td>{{ package.recipientAddress }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Package Number:</th>
                                        <td>{{ package.package_number }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Status:</th>
                                        <td>
                                            {% if package.status == 'dispatched' %}
                                            <form action="{% url 'confirm_pickup' package.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-warning text-white">Confirm Pick Up</button>
                                            </form>
                                            {% elif package.status == 'en_route' %}
                                                <button type="button" class="btn btn-sm btn-info text-white">Picked Up</button>
                                            {% else %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>





  
    

{% endblock %}