{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>No</th>
                  <th>Package</th>
                  <th>Recipient</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Package No</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                {% for package in packages %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ forloop.counter }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.packageName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis">
                      {% if package.sendersAddress %}
                        <span>{{ package.sendersAddress }}</span>
                      {% else %}
                        <span>{{ package.dropOffLocation.address }}</span>
                      {% endif %}
                    </div>
                  </td> 
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.package_number }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{% if package.status == 'upcoming' %}
                        <form action="{% url 'confirm_drop_off' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-warning text-white">Confirm Drop-Off</button>
                        </form>
                        {% elif package.status == 'dropped_off' %}
                            <button type="button" class="btn btn-sm btn-info text-white" disabled>Received</button>
                        {% else %}
                        {% endif %}</span></div>
                  </td>
                                  
                {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->

    {% for package in packages %}
      {% empty %}
      <div class="h3 text-center mt-4 mb-4"><span>No received packages available at the moment !</span></div>           
    {% endfor %}

  </div>

{% endblock %}