{% extends 'admin/admin_base.html' %}

{% load static %}


{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
</div>


<h2>Packages</h2>
<div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Package Title</th>
                <th scope="col">Recipient</th>
                <th scope="col">Address From</th>
                <th scope="col">Address To</th>
                <th scope="col">Package Number</th>
                <th scope="col">Status</th>
                <th scope="col">Courier</th>
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ package.packageName }}</td>
                <td>{{ package.recipientName }}</td>
                <td>{{ package.sendersAddress }}</td>
                <td>{{ package.recipientAddress }}</td>
                <td>{{ package.package_number }}</td>
                <td>
                    {% if package.status == 'upcoming' %}
                    <img src="{% static 'img/pending.png' %}" alt="" width="30px" height="30px">
                    {% elif package.status == 'dropped_off' %}
                    <img src="{% static 'img/dropped.png' %}" alt="" width="30px" height="30px">
                    {% elif package.status == 'ongoing' %}
                    <img src="{% static 'img/started.png' %}" alt="" width="30px" height="30px">
                    {% elif package.status == 'completed' %}
                    <img src="{% static 'img/completed.png' %}" alt="" width="30px" height="30px">
                    {% endif %}
                </td>
                <td>
                    {% if package.status == 'upcoming' or package.status == 'dropped_off' %}
                    <a href="{% url 'assign_courier' package_id=package.id %}">
                        <button class="btn btn-sm btn-primary text-white w-75">Assign</button>
                    </a>
                    {% else %}
                    {% if package.courier %}
                    {{ package.courier.name }}
                    {% else %}
                    Not Assigned
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
        
      </div>
</div>

{% endblock %}