{% extends 'admin/admin_base.html' %}

{% load static %}


{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
</div>


<h2>Packages</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card bg-white text-black mb-4">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Packages</h5>
                    <p class="card-text">01</p>
                    <p class="card-text">Fridge</p>
                    <p class="card-text">MAQULA</p>         
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-white text-black mb-4">
                <div class="card-body">
                    <h5 class="card-title">Ongoing Packages</h5>
                    <p class="card-text">02</p>
                    <p class="card-text">Sofa Set</p>
                    <p class="card-text">MAQULA</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card bg-white text-black mb-4">
                <div class="card-body">
                    <h5 class="card-title">Completed Packages</h5>
                    <p class="card-text">03</p>
                    <p class="card-text">Five Bags of Irish</p>
                    <p class="card-text">Total Wandegeya</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}