{% extends 'admin/admin_base.html' %}

{% block content %}
  <div class="container">
    <h1>Assign Courier</h1>
    <form method="post" action="{% url 'assign_courier' package_id=package_id %}">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="courier">Select Courier</label>
        <select class="form-control" id="courier" name="courier">
          <option value="" selected disabled>-- Select Courier --</option>
          {% for courier in couriers %}
            <option value="{{ courier.id }}">{{ courier.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Assign</button>
      <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}