{% extends 'admin/admin_base.html' %}

{% load static %}


{% block content %}

<h2 class="my-5">Dropped Off Items</h2>
<div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Package Title</th>
                <th scope="col">Recipient</th>
                <th scope="col">Address From</th>
                <th scope="col">Address To</th>
                <th scope="col">Package Number</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for package in packages %}
            {% if package.status == "dropped_off" %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ package.packageName }}</td>
                <td>{{ package.recipientName }}</td>
                <td>{{ package.sendersAddress }}</td>
                <td>{{ package.recipientAddress }}</td>
                <td>{{ package.package_number }}</td>
            
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
        
      </div>
</div>






{% endblock %}