{% extends 'dashboard_base.html' %}

{% load static %}


{% block static_links %}

<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'select2/js/select2.min.js' %}"></script>

{% endblock %}


{% block content %}

<div class="container my-2" data-aos="fade-up">
    <div class="row g-5">
        
        <div>
          <!-- <h4 class="">Add Package</h4> -->
          
          <form class="needs-validation" novalidate action="{% url 'add_package' %}" method="post" id="packageForm">
            {% csrf_token %}
            <div class="row g-3 mb-3">
              
              <div class="form-group col-md-12">
                <div class="form-check pb-3">
                  <input class="form-check-input" type="checkbox" id="userCheckbox">
                  <label class="form-check-label" for="userCheckbox">Tag to Existing User</label>
                </div>
                <div id="userSelectContainer" style="display: none;">
                  <label for="user" class="form-label form-label-sm">Select User</label>
                  <select class="form-select form-select-sm col-md-5" id="user" name="user">
                    <option value=""> -- Select User -- </option>
                    {% for sender in senders %}
                    <option value="{{sender.id}}">{{sender.username}} - {{sender.email}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <div class="col-md-4">
                <label for="sendersName" class="form-label form-label-sm"> Sender's Name<span class="text-danger">*</span></label>
                <!-- <input id="sendersName" name="sendersName" placeholder="Sender Name" class="form-control form-control-sm" type="text" value="" required> -->
                {{ form.sendersName}}
                
                {% if form.sendersName.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.sendersName.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="col-md-4">
                <label for="senderEmail" class="form-label form-label-sm"> Sender's Email<span class="text-danger">*</span></label>
                <!-- <input id="senderEmail" name="sendersEmail" placeholder="Sender's Email" class="form-control form-control-sm" value="" type="email"> -->
                {{ form.sendersEmail}}
                
                {% if form.sendersEmail.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.sendersEmail.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="col-md-4">
                <label for="sendersContact" class="form-label form-label-sm"> Sender's Contact<span class="text-danger">*</span></label>
                <!-- <input id="senderContact" name="sendersContact" placeholder="Sender contact" class="form-control form-control-sm" type="tel"> -->
                {{ form.sendersContact}}
                
                {% if form.sendersContact.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.sendersContact.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="form-group col-md-4">
                <label for="packageName" class="form-label">Package Name<span class="text-danger">*</span></label>
                <!-- <input type="text" class="form-control form-control-sm" id="packageName" name="packageName" placeholder="Package Name" value="" required> -->
                {{ form.packageName }}
                
                {% if form.packageName.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.packageName.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="col-md-8">
                <label for="packageDescripton" class="form-label form-label-sm">Package Description<span class="text-danger">*</span></label>
                <div class="input-group has-validation">
                  <!-- <input type="text" class="form-control form-control-sm" id="packageDescription" name="packageDescription" placeholder="Enter Description" required> -->
                  <!-- <textarea id="packageDescription" name="packageDescription" placeholder="Enter Description" class="form-control form-control-sm" required></textarea> -->
                  {{ form.packageDescription }}
                </div>

                {% if form.packageDescription.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.packageDescription.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="form-group col-md-3">
                <label for="deliveryType" class="form-label form-label-sm">Delivery Type<span class="text-danger">*</span></label>
                <select class="form-select form-select-sm" id="deliveryType" name="deliveryType" required>
                  <option value=""> -- Select Delivery Type -- </option>
                  <option value="standard">Standard</option>
                  <option value="premium">Premium</option>
                </select>

                {% if form.deliveryType.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.deliveryType.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
              </div>

              <div class="col-md-9">
                <label for="warehouse" class="form-label form-label-sm">Drop Off Location</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control form-control-sm" id="warehouse" name="warehouse" placeholder="Drop Off Location" value="{{ user_warehouse }}" disabled>                   
                </div>
            </div>   

            </div>


            <div class="row g-3">

            <input type="hidden" id="sender_latitude" name="sender_latitude" value="">
            <input type="hidden" id="sender_longitude" name="sender_longitude" value="">        
            
          
            <div class="col-md-4">
              <label for="recipientName" class="form-label form-label-sm">Recipient Name<span class="text-danger">*</span></label>
              <div class="input-group has-validation">
                <!-- <input type="text" class="form-control form-control-sm" id="recipientName" name="recipientName" placeholder="Recipient Name" required> -->
                {{ form.recipientName }}

              </div>

              {% if form.recipientName.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientName.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <div class="col-md-4">
              <label for="recipientEmail" class="form-label form-label-sm">Recipient Email</label>
              <div class="input-group has-validation">
                <!-- <input type="email" class="form-control form-control-sm" id="recipientEmail" name="recipientEmail" placeholder="Recipient Email" required> -->
                {{ form.recipientEmail }}
              </div>

              {% if form.recipientEmail.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientEmail.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <div class="col-md-4">
              <label for="recipientTelephone" class="form-label form-label-sm">Recipient Telephone<span class="text-danger">*</span></label>
              <div class="input-group has-validation">
                <!-- <input type="tel" class="form-control form-control-sm" id="recipientTelephone" name="recipientTelephone" placeholder="Recipient Telephone" pattern="[0-9]{10}" required> -->
                {{ form.recipientTelephone }}
              </div>

              {% if form.recipientTelephone.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientTelephone.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <div class="col-md-6">
              <label for="recipientAddress" class="form-label form-label-sm">Recipient Address<span class="text-danger">*</span></label>
              <!-- <input id="recipientAddress" name="recipientAddress" placeholder="Recipient Address" class="form-control form-control-sm" type="text" onkeyup="calculateDeliveryFee()"> -->
              {{ form.recipientAddress }}
              
              {% if form.recipientAddress.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientAddress.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <div class="col-md-4">
              <label for="recipientIdentification" class="form-label form-label-sm">National ID/Passport</label>
              <!-- <input id="recipientIdentification" name="recipientIdentification" placeholder="Enter Recipient Id" class="form-control form-control-sm" type="text"> -->
              {{ form.recipientIdentification }}

              {% if form.recipientIdentification.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientIdentification.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <div class="form-group col-md-2">
              <label for="genderType" class="form-label form-label-sm">Recipient Gender</label>
              <!-- <select class="form-select form-select-sm" id="genderType" name="genderType">
                <option value="" selected disabled> -- Select Gender-- </option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select> -->
              {{ form.genderType }}

              {% if form.genderType.errors %}
              <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.genderType.errors }}
                <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}
            </div>

            <!-- Add this new <div> for the recipient drop-off location -->
              <div class="col-md-6" id="recipientPickUpLocationContainer">
                <label for="recipientPickUpLocation" class="form-label form-label-sm">Recipient Pick-up Location</label>
                <!-- <select class="form-select form-select-sm" id="recipientPickUpLocation" name="recipientPickUpLocation" required>
                  <option value="" selected disabled>-- Select Recipient Pick-up Location --</option>
                  {% for drop_pick_zone in drop_pick_zones %}
                    <option value="{{ drop_pick_zone.id }}">{{ drop_pick_zone.name }}</option>
                  {% endfor %}
                </select> -->
                {{ form.recipientPickUpLocation }}

                {% if form.recipientPickUpLocation.errors %}
                <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.recipientPickUpLocation.errors }}
                  <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
            </div>           
              

              <div class="col-md-6" id="deliveryFee">
                <label for="deliveryFee" class="form-label form-label-sm">Delivery Fee</label>
                <input id="deliveryFeeInput" name="deliveryFee" placeholder="Delivery Fee" class="form-control form-control-sm" type="text" disabled>
              </div>   
            </div>        

          </div>



          <div class="row g-3 mt-2">
              
              <input type="hidden" id="recipient_latitude" name="recipient_latitude" value="">
              <input type="hidden" id="recipient_longitude" name="recipient_longitude" value="">

              <div class="col-md-12">
                <button class="btn btn-primary btn-sm text-white" type="submit">Click to confirm</button>
              </div>
          </div>
            
          </form>

        </div>
      </div>
  </div>

  {% endblock %}

{% block script_links %}

  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const deliveryTypeSelect = document.getElementById("deliveryType");
    const recipientPickUpLocationInput = document.getElementById("recipientPickUpLocation");

    recipientPickUpLocationInput.disabled = true;

    deliveryTypeSelect.addEventListener("change", function() {
        if (this.value === "standard") {
            recipientPickUpLocationInput.disabled = false; 
        } else { 
            recipientPickUpLocationInput.disabled = true;
        }
    });
  });
  </script>

  <script>
    // Initialize Select2 for the user search input field
    $(document).ready(function() {
      $('#user').select2(
        {
          width: '40%'
        }
          );
        });

    // Handle checkbox change event
    $('#userCheckbox').change(function() {
      $('#userSelectContainer').toggle(this.checked);
      $('#sendersName, #senderEmail').prop('disabled', this.checked);
      // $('#sendersName, #senderEmail, #sendersContact').prop('disabled', this.checked);
      // Clear Select2 input when hidden
      if (!this.checked) {
        $('#user').val(null).trigger('change');
      }
    });
  </script>

  <script>
    function populateRecipientLocation() {
    console.log("populate triggered");
    // Function to populate recipient drop-off locations
    const recipientAddressInput = document.getElementById("recipientAddress");
    const recipientLatitudeInput = document.getElementById("recipient_latitude");
    const recipientLongitudeInput = document.getElementById("recipient_longitude");
    const recipientPickUpLocationContainer = document.getElementById("recipientPickUpLocationContainer");

    console.log("Recipient Latitude:", recipient_latitude);
    console.log("Recipient Longitude:", recipient_longitude);

    if (recipientAddressInput.value !== "") {
      // Perform actions to populate recipient drop-off locations based on the recipient's address
      const recipient_latitude = recipientLatitudeInput.value;
      const recipient_longitude = recipientLongitudeInput.value;
      redraw_recipient_dropoff_list(recipient_latitude, recipient_longitude);
      recipientPickUpLocationContainer.style.display = "block";
    } else {
      recipientPickUpLocationContainer.style.display = "none";
    }
    
  }

  function redraw_recipient_dropoff_list(lat, lng) {
    // Function to redraw recipient drop-off locations based on recipient's latitude and longitude
    $.ajax({
      method: "POST",
      url: "/api",
      data: { action: "get_closest_drop_pick_locations", lat: lat, lng: lng },
    }).done(function (response) {
      // Sort the drop-off locations based on distance before populating the dropdown
      const dropOffLocationSelect = $("#recipientPickUpLocation");
      dropOffLocationSelect.html(response.data);
      
      // Note: We are not selecting any option here, so the user can choose from the list of closest drop-off locations.
    });
  }

  </script>

  <script>
   $(function() {

   // Initiate autocomplete for the recipient address field
   var recipientAutocomplete = new google.maps.places.Autocomplete($("#recipientAddress")[0], {});

   google.maps.event.addListener(recipientAutocomplete, 'place_changed', function() {
     var place = recipientAutocomplete.getPlace();
     // Log or process the selected place if needed
     //set values into the feilds
     $("#recipient_latitude").val(place.geometry.location.lat());
     $("#recipient_longitude").val(place.geometry.location.lng());

     console.log("new gps ready");
     // Call the function when the recipient address input changes
     populateRecipientLocation();

   });

 });
  </script>


{% endblock %}
