{% extends 'dashboard_base.html' %}

{% load static %}

{% block static_links %}

<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'select2/js/select2.min.js' %}"></script>

{% endblock %}

{% block content %}

{% if status_msg %}
<div class="alert alert-danger" role="alert">
{{ status_msg }}
</div>
{% endif %}

<h3 class="mb-5">Select Client to Extract data from:</h3>
<form method="post" enctype="multipart/form-data" style="min-height: 60vh;" action="{% url 'extract_google_sheet_data' %}">
    {% csrf_token %}
    <div class="d-flex align-items-center">
        <div class="form-group col-md-5">
            <div id="userSelectContainer">
                <label for="sheet_id" class="form-label form-label-sm">Select Client</label>
                <select class="form-select form-select-sm" id="sheet_id" name="sheet_id">
                    <option value=""> -- Select Client -- </option>
                    {% for a_sheet in sheets %}
                    <option value="{{a_sheet.id}}">{{a_sheet.user.username}} - {{a_sheet.user.email}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">Extract</button>
    </div>
</form>


{% endblock %}

{% block script_links %}
<script>
   $(document).ready(function() {
    $('#sheet_id').select2({width: '70%'});
});

</script>

{% endblock %}