{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}


{% block content %}




<h2 class="mt-3">Warehouse Arrivals</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Package Title</th>
                <th scope="col">Package Description</th>
                <th scope="col">Recipient</th>
                <th scope="col">Address From</th>
                <th scope="col">Address To</th>
                <th scope="col">Package Number</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for package in arrived_packages %}
            {% if package.status == 'warehouse_arrival' %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ package.packageName }}</td>
                <td>{{ package.packageDescription }}</td>
                <td>{{ package.recipientName }}</td>
                <td>{{ package.sendersAddress }}</td>
                <td>{{ package.recipientAddress }}</td>
                <td>{{ package.package_number }}</td>
                {% comment %}
                    <td>{{ package.status }}</td>
                {% endcomment %}
                <td>
                    {% if package.status == 'warehouse_arrival' %}
                    <form action="{% url 'confirm_arrival' package_id=package.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-primary text-white">Confirm</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}