{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
          
          <!-- /.row--><br>
          <div class="table-responsive mb-4 bg-white">
            <table class="table border mb-0">
              <thead class="table-white fw-semibold">
                <tr>
                  <th>No</th>
                  <th>Package</th>
                  <th>Recipient</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Package No</th>
                  <th>status</th>
                </tr>
              </thead>
              <tbody>
                {% for package in arrived_packages %}
                {% if package.status == 'warehouse_arrival' %}
                <tr class="align-middle">
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ forloop.counter }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.packageName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientName }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis">
                      {% if package.sendersAddress %}
                        <span>{{ package.sendersAddress }}</span>
                      {% else %}
                        <span>{{ package.dropOffLocation.address }}</span>
                      {% endif %}
                    </div>
                  </td> 
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.recipientAddress }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{{ package.package_number }}</span></div>
                  </td>
                  <td class="text-start">
                    <div class="small text-medium-emphasis"><span>{% if package.status == 'warehouse_arrival' %}
                        <form action="{% url 'confirm_arrival' package_id=package.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-primary text-white">Confirm</button>
                        </form>
                        {% endif %}</span>
                    </div>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        
    </div>
    <!-- /.col-->
  </div>

{% endblock %}