{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}


{% block content %}


<form action="{% url 'ready_for_pickup' %}" method="POST">
    {% csrf_token %}
    <h2 class="mt-3">In House</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Package Title</th>
                    <th scope="col">Package Description</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Address From</th>
                    <th scope="col">Address To</th>
                    <th scope="col">Package Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Select</th>
                </tr>
            </thead>
            <tbody>
                {% for package in ready_packages %}
                {% if package.status == 'in_house' %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ package.packageName }}</td>
                    <td>{{ package.packageDescription }}</td>
                    <td>{{ package.recipientName }}</td>
                    <td>{{ package.sendersAddress }}</td>
                    <td>{{ package.recipientAddress }}</td>
                    <td>{{ package.package_number }}</td>
                    <!-- <td>{{ package.status }}</td> -->
                    <td>
                        {% if package.status == 'in_house' %}
                        <img src="{% static 'img/warehouse.png' %}" alt="" width="25px" height="25px">
                        {% endif %}
                    </td>
                    <td>
                        <input type="checkbox" name="selected_packages" value="{{ package.id }}">
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h4 class="mt-3">Select Courier</h4>
        <select name="courier" class="form-control mb-2">
            {% for courier in available_couriers %}
            <option value="{{ courier.id }}">{{ courier.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <h4 class="mt-3 mb-2">Select Drop-Pick Zone</h4>
        <select class="form-control" name="drop_pick_zone">
            {% for drop_pick_zone in available_drop_pick_zones %}
            <option value="{{ drop_pick_zone.drop_pick_zone.id }}">{{ drop_pick_zone.drop_pick_zone.name }}</option>
            {% endfor %}
        </select>      
    </div>
    <a href="{% url 'ready_for_pickup' %}"><button class="btn btn-primary text-white mt-3"> Assign</button></a>
</form>

{% endblock %}