{% extends 'dashboard_base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Assign Courier</h1>
  <form action="{% url 'reassign_courier' package_id=package.id %}" method="post">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="courier" class="mb-2">Select Courier</label>
      <select class="form-control" id="courier" name="courier" required>
        <option value="" selected disabled>-- Select Courier --</option>
        {% for courier in couriers %}
          <option value="{{ courier.id }}">{{ courier.username }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a courier.
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2">
        <button type="submit" class="btn btn-sm btn-primary w-100">Assign</button>
      </div>
      <div class="col-2">
        <a href="{% url 'ready_packages' %}" class="btn btn-sm btn-secondary w-100">Back</a>
      </div>
    </div>
    
  </form>
</div>
{% endblock %}
