{% extends 'dashboard_base.html' %}

{% load static %}

{% block static_links %}

<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'select2/js/select2.min.js' %}"></script>

{% endblock %}

{% block content %}


<h3 class="mb-5">Select Client to connect upload to:</h3>

<form method="post" enctype="multipart/form-data" style="min-height: 60vh;" action="{% url 'upload_excel' %}">
  {% csrf_token %}
  <div class="d-flex align-items-center justify-content-around">
    <div class="form-group col-md-5">
      <div id="userSelectContainer">
          <label for="client" class="form-label form-label-sm">Select Client</label>
          <select class="form-select form-select-sm" id="client" name="client">
              <option value=""> -- Select Client -- </option>
              {% for sender in senders %}
              <option value="{{sender.id}}">{{sender.username}} - {{sender.email}}</option>
              {% endfor %}
          </select>
      </div>
  </div>

      {{ form.excel_file }}

    <button type="submit" class="btn btn-sm btn-primary">Extract</button>
  </div>
</form>

{% if messages %}
<div class="alert alert-danger" role="alert">
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<script>
  $(document).ready(function () {
    $('#client').select2({ width: '60%' });
  });

</script>

{% endblock %}