{% extends 'dashboard_base.html' %}
{% load static %}

{% block profile_image %}
<img src="{% static '/img/team/team-3.jpg' %}" class="rounded mx-auto d-block" alt="..." width="80px" height="80px">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ greeting_message }}, {{ user.username }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
</div>

<form action="" method="POST">
  {% csrf_token %}
  <h2 class="my-5">Dropped Off Items</h2>

  <div class="container">
    <h2>Select a Courier</h2>
    <select name="courier" class="form-control">
      {% for courier in available_couriers %}
        <option value="{{ courier.id }}">{{ courier.name }}</option>
      {% endfor %}
    </select>
  </div>

  {% for dropoff_location, packages in packages_by_location.items %}
    <div class="container">
      <h2>Drop Off Location: {{ dropoff_location }}</h2>
      <div class="table-responsive">
          <table class="table table-striped table-sm">
              <thead>
                  <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Package Title</th>
                      <th scope="col">Recipient</th>
                      <th scope="col">Address From</th>
                      <th scope="col">Address To</th>
                      <th scope="col">Package Number</th>
                      <th scope="col">Select</th>
                  </tr>
              </thead>
              <tbody>
                  {% for package in packages %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ package.packageName }}</td>
                      <td>{{ package.recipientName }}</td>
                      <td>{{ package.sendersAddress }}</td>
                      <td>{{ package.recipientAddress }}</td>
                      <td>{{ package.package_number }}</td>
                      <td>
                          <input type="checkbox" name="selected_packages" value="{{ package.id }}">
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Assign Courier</button>
</form>

{% endblock %}
