<!-- <h3>Password Reset Sent</h3>
<p>Instructions for resetting your password have been sent to your email address.</p> 
<p> Please check your inbox and follow the provided instructions to set a new password. If you don't see the email in your inbox, please also check your spam or junk folder.</p> -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form">
                <form method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Password Reset Sent</h2>
                    <p class="text-center">Instructions for resetting your password have been sent to your email address</p>
                </form>
                
            </div>
        </div>
    </div>
    
</body>
</html>