
{% extends 'dashboard_base.html' %}

{% load static %}

{% block content %}
    <!-- <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container"> -->
        <div class="row justify-content-center">
          <div class="col-md-12">
            
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                
                <div class="row g-3 mb-3">
                    <h2 class="text-danger mb-4">Please Change Password To Proceed !</h2>

                    <div class="col-md-7 mt-4 mb-4">
                        <h5>Password Tips:</h5>
                        <ul>
                            <li>Has 8 characters, minimum</li>
                            <li>Includes numbers, symbols, capital letters, and lower-case letters</li>
                            <li>Avoid using a dictionary word or combination of dictionary words</li>
                        </ul>
                    </div>
                    
          
                    <div class="col-md-7">
                      <label for="id_old_password" class="form-label form-label-sm">Old Password:</label>
                      <!-- <input type="password" name="old_password" autocomplete="current-password" class="form-control form-control-sm" required="" id="id_old_password"> -->
                      {{ form.old_password }}

                        {% if form.old_password.errors %}
                            <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.old_password.errors }}
                            <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}

                  </div>

                  <div class="col-md-7">
                    <label for="id_new_password1" class="form-label form-label-sm">New Password:</label>
                    <!-- <input type="password" name="new_password1" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password1"> -->
                    {{ form.new_password1 }}       

                    {% if form.new_password1.errors %}
                        <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.new_password1.errors }}
                        <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                  </div>
                    
                  <div class="col-md-7">
                    <label for="id_new_password2" class="form-label form-label-sm">Confirm New Password:</label>
                    <!-- <input type="password" name="new_password2" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password2"> -->
                    {{ form.new_password2 }} 

                    {% if form.new_password2.errors %}
                        <div class="alert alert-danger  alert-dismissible fade show mt-2" role="alert">{{ form.new_password2.errors }}
                        <button type="button" class="btn-close" data-coreui-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                  </div>
                  
            </div>

                <div class="row g-3">
                <div class="col mb-4">
                <button type="submit" class="btn btn-sm btn-primary">Change Password</button>
                </div>

                </div>
            </form>

          </div>
        </div>
      <!-- </div>
    </div> -->

{% endblock %}