
{% load static %}
<!-- Breadcrumb-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Logistics Management System">
    <meta name="author" content="Muhumuza Ivan, Nkuraija Gary, Wogunya Israel">
    <meta name="keywords" content="Logistics,Warehouse,Drop off,Inventory,Shipment,Tracking,Delivery,Transportation,Dispatch,Hub,Route Optimization,courier,parcel,package,Supply Chain">
    <title>Password Change</title>
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <meta name="theme-color" content="#ffffff">
    <link href="{% static 'css/dist/dashboard_style.css' %}" rel="stylesheet">

  </head>

  
<body>
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12">
            
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                
                <div class="row g-3 mb-3">
                    <h2 class="text-danger mb-4">Please Change Password To Proceed !</h2>
                    
                    <div class="col-md-7">
                      <label for="id_old_password" class="form-label form-label-sm">Old Password:</label>
                      <input type="password" name="old_password" autocomplete="current-password" class="form-control form-control-sm" required="" id="id_old_password">
                  </div>

                  <div class="col-md-7">
                    <label for="id_new_password1" class="form-label form-label-sm">New Password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password1">
                  </div>
                    
                  <div class="col-md-7">
                    <label for="id_new_password2" class="form-label form-label-sm">Confirm New Password:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" class="form-control form-control-sm" required="" id="id_new_password2">
                  </div>
                  
            </div>

                <div class="row g-3">
                <div class="col mb-4">
                <button type="submit" class="btn btn-sm btn-primary">Change Password</button>
                </div>

                </div>
            </form>

          </div>
        </div>
      </div>
    </div>






  <!-- CoreUI and necessary plugins-->
  <script src="{% static 'js/dist/coreui.bundle.min.js' %}"></script>
  
</body>
</html>