env/
db.sqlite3

*.pyc
__pycache__/

Logistics-Web-App\django_project\django_project\__pycache__\urls.cpython-310.pyc

client_secret_19263470986-dvh19vt73d0oq86mbm98r744hpoj9k5t.apps.googleusercontent.com.json

site_static
.env
.idea
django_project\.idea
cred.json
client_secret_19263470986-dvh19vt73d0oq86mbm98r744hpoj9k5t.apps.googleusercontent.com.json